/* border-box makes the width/heigth of the elements to include the padding and the border in the value that we set. Also because we have 100vh in the bigger screens will not create the scrolling effect caused by the padding and border being outside the content. Applying it with the * selector helps to determine all the values better as the border + padding are included with the content.*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem; /*redundant but helps me to remember it*/
	margin: 0;
	color: #404040;
	text-align: center; /*most of the page is centered, we will disable it case by case*/
}


/* typography */

h1 {
	font-size: 2.25rem;
	font-weight: 300;
	color: #FFFFFF;
}

/* the + will affect only the first p after h1 if we put something in bettwen will stop working. */
h1 + p {
	font-size: 1.3rem;
	color: #F18119;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 1.3rem;
	margin: 0;
}

h2 + p {
	font-size: 1rem;
	color: #F18119;
	font-weight: 900;
	margin-top: 0;
	text-transform: uppercase;
}

.top-page-text {
	margin: 0;
	padding-top: 2px;
	font-size: 0.625rem;
	color: #F18119;
	font-weight: 900;
	text-transform: uppercase;
	border-top: solid 5px #ff713b;
	border-image: linear-gradient(to left, #ff713b, #ffa51d) 1; /*Because of how border-image works, it wants to take a single image and cut it into 9 regions. The 4 corners, the 4 sides, and the middle.
	the number 1 here is the border-image-slice, which is setting the distance for the slices to happen (slicing it into 9 regions).
	Because we used a gradient, we're just putting a value here to make it work, it's not a real image so the slicing of it doesn't really matter.
	*/
}

.fine-print {
	font-size: 0.625rem;
	letter-spacing: 1px;
}


/*h1 is set to 300, to avoid the strong tag to jump to 400 we explicetly define it at 900 */
strong {
	font-weight: 900; 
}


/* intro section */

.intro {
	background-color: #404040; /*will show up in case the image does not load so we still are able to read the white text. */
	background-image: url(../images/ribs.jpeg);
	background-blend-mode: multiply; /*blends the background-color with the backgroun-image anything darker than the color will show anything lighter will not get more light than the color.*/
	background-size: cover; /*fills all the space and crops the rest*/
	background-position: center; /*centers the image for the cover as it will zoom in zoom out depending on the windows screen.*/
	padding: 0 0.25em 2em; /*if we  put padding on top part then .top-text-page cannot go there unless forced.*/
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* intead of using margins to separate we already had the flex column so adding space-between makes it arrange everything as the template provided*/
}

.top-page-text {
	order: -1;
}

/*main content section */

.main-content {
	padding: 2em 1.5em;
}


/* don't want to override any potential top or bottom margin so we use long form here for the sides margins (we can also use intro > * if we want to select only the direct childs*/
.intro *,
.main-content * {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/* form */
.register-form {
	width: 80%;
	max-width: 300px;
}

input,
.btn {
	width: 100%; /*to change the default and so they match parent element*/
	border-radius: 5px;
	
}

input {
	margin-bottom: 0.75em;
	padding: 0.25em;
	font-family: inherit; /*by default form does not inherit this properties but we can make it inherit them. */
	text-align: inherit;
	border: solid 1px black;
	transform: scale(1);
	transition: transform 250ms;
}

input:focus {
	transform: scale(1.1);
}
.btn {
	display: inline-block;
	padding: 0.80em 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.625rem;
	color: #fff;
	font-weight: 900;
	border: 0;
	cursor: pointer;
	background-image: linear-gradient(to left,#ff713b, #ffa51d);
	transform: scale(1);
	transition: transform 250ms; /*will create the trasnition of transform both ways*/
}

.btn:hover,
.btn:focus {
	transform: scale(1.1);
}

/* media queries */

@media (min-width: 600px) {
	/* make bigger font sizes for better readability */
	body {
		font-size: 1.125rem;
		display: flex;
	}

	h1 {
		font-size: 3.5rem;
	}

	h1 + p,
	h2 {
		font-size: 1.75rem;
	}

	/* use vh so the height of the elements is set by the browser window */
	.intro,
	.main-content {
		width: 50%;
		min-height: 100vh; 
	}

	.main-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}